<h1>Editing mastercar</h1>

<%= render "form", mastercar: @mastercar %>

<br>

<div>
  <%= link_to "Show this mastercar", @mastercar %> |
  <%= link_to "Back to mastercars", mastercars_path %>
</div>
