<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p style="color: green"><%= notice %></p>

<h3>МастерЛогистик</h3>

<div id="masters">
  <% @masters.each do |master| %>
    <% render master %>
    <p>
      <%= link_to "Отзыв № #{master.id}", master %>
    </p>
  <% end %>
</div>

<%= link_to "Новый отзыв", new_master_path %>
    </div>
  </div>
</div>
