<div class="container">
  <div class="row">
    <div class="text-start">
  <img src="5.gif" class="img-fluid" alt="" width="50" height="10">
  </div>
  <div class="text-center">
  <br><br><p><img src="2.gif" class="img-fluid" alt=""></p>
  </div>

<div class="d-flex justify-content-center fs-3">Оставь отзыв и получи пирожок!*</div>
<div class="d-flex flex-row-reverse bd-highlight justify-content-start">
  <br><div class="p-2 bd-highlight"><font size="1" color="red">*Адрес: город Жопинск, улица Никакая 10.</div>
</div>
</div>
</div>
