<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br><h5>Оставь отзыв и спи спокойно</h5>

<%= render "form", card: @card %>

<br>

<div>
  <%= link_to "Назад к отзывам", cards_path %>
      </div>
    </div>
  </div>
</div>
